<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" disabled>
      <ion-icon aria-hidden="true" name="download-outline"></ion-icon>
      <ion-label>Import</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="copy-outline"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="clipboard-outline"></ion-icon>
      <ion-label>Form</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
