<ion-accordion-group>
  <ion-accordion *ngFor="let fan of this.accordion.fans; let i = index" value="{{i}}">
    <ion-item slot="header" color="light">
      <ion-label>{{i + 1 | readableIndex}} {{accordion.item_name}}</ion-label>
      <ion-icon name="trash-outline" (click)="deleteItem(i)"></ion-icon>
    </ion-item>
    <div class="ion-padding" slot="content">
      <app-field-container *ngFor="let fieldContainer of fan" [fieldContainer]="fieldContainer"></app-field-container>
    </div>
  </ion-accordion>
</ion-accordion-group>

<ion-button (click)="addItem()" [color]="this.accordion.allRequiredFilled() ? 'primary' : 'medium'">{{accordion.add_button_label}}</ion-button>

