
<ion-accordion-group>
  <ion-accordion *ngFor="let item of [].constructor(accordionCount); let i = index" value="{{i}}">
    <ion-item slot="header" color="light">
      <ion-label>{{i + 1 | readableIndex}} {{accordionItem}}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <app-field-container sectionId={{accordionId}} type="Accordion"></app-field-container>
    </div>
  </ion-accordion>
</ion-accordion-group>

<ion-button (click)="incrementCount()">{{accordionAddButton}}</ion-button>
<ion-button (click)="decrementCount()">remove last</ion-button>

