<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Load Reports
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "background-image report" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Load Reports</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let report of reportService.reports; let i = index" class = "section" [ngStyle]="{'background-color': (i==reportService.reportIndex) ? '#8cba98' : '#ffffff'}">
    <ion-card-header>
      <ion-card-title>Report {{i+1}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>Form Number:</b> {{reportService.getFormNumber(report)}}
      <!-- <br>
      <b>Form complete:</b> {{report.allRequiredFilled()}} -->
    </ion-card-content>
    <ion-card-content>
      <ion-button color='light' [disabled]="reportService.reportIndex==i" (click)="reportService.deleteReport(i)"><ion-icon name="trash-outline" size="large"></ion-icon>delete</ion-button>
      <ion-button color='light' id="select-report-{{i}}"><ion-icon name="arrow-forward-outline" size="large"></ion-icon>select</ion-button>
      <ion-button color='light' (click)="writeToClipboard(reportService.exportReport(reportService.reports[i]))"><ion-icon name="arrow-up-outline" size="large"></ion-icon>copy to clipboard</ion-button>
    </ion-card-content>

    <ion-alert
      trigger="select-report-{{i}}"
      header="Progress may be unsaved!"
      message="Are you sure you want to continue?"
      [buttons]="this.reportService.createAlertButtons(i)"
    ></ion-alert>
  </ion-card>

  <ion-card class = "section">
    <ion-card-header>
      <ion-card-title>Create new form</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="reportService.addItem()" color="medium">Create new form</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-button expand="block" color="tertiary" (click)="reportService.saveReports()">
  Save reports
</ion-button>