<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Import Form Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "background-image report" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Import Form Data</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Use this page import form info</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Rather than using hardcoded info
    </ion-card-content>
  </ion-card>

</ion-content>
