.background-image{
    --background: url("../../assets/images/bhims_index_bg_1200_crop.jpg") 0 0/100% 100% no-repeat;
}

.section {
    opacity: .95;
    // width: 95%; // use this for mobile
    width: 75%; // use this for web
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

ion-content {
    --ion-font-family: 'Comic Sans MS';
}