<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon [src]="icon" size="large"></ion-icon>
      BHIMS Report #{{reportService.reportIndex + 1}}
    </ion-title>
    <ion-content>
      HEHEH
    </ion-content>
  </ion-toolbar>
</ion-header>

<ion-content class = "background-image" [fullscreen]="true">

  <ion-card *ngFor="let section of reportService.reports[reportService.reportIndex].sections" class = "section">
    <ion-card-header>
      <ion-card-title>{{section.section_title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <app-field-container *ngFor="let fieldContainer of section.field_containers" [fieldContainer]="fieldContainer"></app-field-container>
        <app-accordion-container *ngFor="let accordion of section.accordions" [accordion]="accordion"></app-accordion-container>
      </ion-list>
    </ion-card-content>    
  </ion-card>
</ion-content>

<ion-button expand="block" color="tertiary" (click)="reportService.logForm()">
  Save Form
</ion-button>




